<!doctype html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Add Book3</title>
<link rel="stylesheet" type="text/css" href="/static/css/styles2.css">
</head>
<body>
<div class="htmleaf-container">
	<div class="wrapper">
		<div class="container">
			<h1>This Is A New Author</h1>
			
			<form action="/" method="get">
				<input type="text" placeholder="AuthorID：{{ author_dict.AuthorID }}" readonly>
                <input type="text" placeholder="Name：{{ author_dict.Name }}" readonly>
                <input type="text" placeholder="Age：{{ author_dict.Age }}" readonly>
                <input type="text" placeholder="Country：{{ author_dict.Country }}" readonly>
                <button type="submit"> Back </button>
			</form>
		</div>
		
		<ul class="bg-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
</div>
</body>
</html>